@import "tailwindcss";
@layer theme, base, components, utilities;

:root {
  --color-primary-light: #ffb8fa;
  --color-primary: #f6339a;
  --color-primary-dark: #1f0713;
}

@theme inline {
  --color-primary-light: var(--color-primary-light);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
}

@layer utilities {
  .font-geist-mono {
    font-family: var(--font-geist-mono);
  }
  .font-geologica {
    font-family: var(--font-geologica);
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .gradient-text {
    @apply bg-clip-text text-transparent bg-linear-to-r from-primary-light via-primary to-primary-dark;
  }
  .gradient-background {
    @apply bg-linear-to-r from-primary-light via-primary to-primary-dark;
  }
}

::selection {
  background-color: #380038;
  color: #ff71f6;
}

::-webkit-scrollbar {
  width: 6px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff71f6 !important;
  opacity: 0.3;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

.gradient-underline {
  position: relative;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 70%;
  height: 7px;
  background: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  border-radius: 999px;
}